USE [seminariodosColumnar201801263]
GO
/****** Object:  Table [dbo].[Cliente]    Script Date: 09/03/2022 0:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cliente](
	[idCliente] [int] IDENTITY(1,1) NOT NULL,
	[CodigoCliente] [varchar](50) NULL,
	[NombreCliente] [varchar](200) NULL,
	[TipoCliente] [varchar](50) NULL,
	[DireccionCliente] [varchar](200) NULL,
	[NumeroCliente] [varchar](8) NULL,
PRIMARY KEY CLUSTERED 
(
	[idCliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 09/03/2022 0:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[idCompra] [int] IDENTITY(1,1) NOT NULL,
	[Unidades] [int] NULL,
	[CostoU] [int] NULL,
	[idProveedor] [int] NOT NULL,
	[idProducto] [int] NOT NULL,
	[idTiempo] [int] NOT NULL,
	[idSucursal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idCompra] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ComprasTemp]    Script Date: 09/03/2022 0:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ComprasTemp](
	[Fecha] [varchar](100) NULL,
	[CodProveedor] [varchar](50) NULL,
	[NombreProveedor] [varchar](200) NULL,
	[DireccionProveedor] [varchar](200) NULL,
	[NumeroProveedor] [varchar](8) NULL,
	[WebProveedor] [varchar](1) NULL,
	[CodProducto] [varchar](50) NULL,
	[NombreProducto] [varchar](200) NULL,
	[MarcaProducto] [varchar](200) NULL,
	[Categoria] [varchar](200) NULL,
	[CodSucursal] [varchar](50) NULL,
	[NombreSucursal] [varchar](200) NULL,
	[DireccionSucursal] [varchar](200) NULL,
	[Region] [varchar](200) NULL,
	[Departamento] [varchar](200) NULL,
	[Unidades] [varchar](200) NULL,
	[CostoU] [varchar](200) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Producto]    Script Date: 09/03/2022 0:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Producto](
	[idProducto] [int] IDENTITY(1,1) NOT NULL,
	[CodProducto] [varchar](50) NULL,
	[NombreProducto] [varchar](200) NULL,
	[MarcaProducto] [varchar](200) NULL,
	[Categoria] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProducto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 09/03/2022 0:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[idProveedor] [int] IDENTITY(1,1) NOT NULL,
	[CodProveedor] [varchar](50) NULL,
	[NombreProveedor] [varchar](200) NULL,
	[DireccionProveedor] [varchar](200) NULL,
	[NumeroProveedor] [varchar](8) NULL,
	[WebProveedor] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[idProveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sucursal]    Script Date: 09/03/2022 0:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sucursal](
	[idSucursal] [int] IDENTITY(1,1) NOT NULL,
	[CodSucursal] [varchar](50) NULL,
	[NombreSucursal] [varchar](200) NULL,
	[DireccionSucursal] [varchar](200) NULL,
	[Departamento] [varchar](200) NULL,
	[Region] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[idSucursal] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tiempo]    Script Date: 09/03/2022 0:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tiempo](
	[idTiempo] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[idTiempo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendedor]    Script Date: 09/03/2022 0:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendedor](
	[idVendedor] [int] IDENTITY(1,1) NOT NULL,
	[CodVendedor] [varchar](50) NULL,
	[NombreVendedor] [varchar](200) NULL,
	[Vacacionista] [varchar](1) NULL,
PRIMARY KEY CLUSTERED 
(
	[idVendedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Venta]    Script Date: 09/03/2022 0:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Venta](
	[idVenta] [int] IDENTITY(1,1) NOT NULL,
	[Unidades] [int] NULL,
	[PrecioUnitario] [int] NULL,
	[idProducto] [int] NOT NULL,
	[idCliente] [int] NOT NULL,
	[idVendedor] [int] NOT NULL,
	[idTiempo] [int] NOT NULL,
	[idSucursal] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[idVenta] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VentasTemp]    Script Date: 09/03/2022 0:03:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VentasTemp](
	[Fecha] [varchar](100) NULL,
	[CodigoCliente] [varchar](50) NULL,
	[NombreCliente] [varchar](200) NULL,
	[TipoCliente] [varchar](50) NULL,
	[DireccionCliente] [varchar](200) NULL,
	[NumeroCliente] [varchar](8) NULL,
	[CodVendedor] [varchar](50) NULL,
	[NombreVendedor] [varchar](200) NULL,
	[Vacacionista] [varchar](200) NULL,
	[CodProducto] [varchar](50) NULL,
	[NombreProducto] [varchar](200) NULL,
	[MarcaProducto] [varchar](200) NULL,
	[Categoria] [varchar](200) NULL,
	[SodSuSursal] [varchar](50) NULL,
	[NombreSucursal] [varchar](200) NULL,
	[DireccionSucursal] [varchar](200) NULL,
	[Region] [varchar](200) NULL,
	[Departamento] [varchar](200) NULL,
	[Unidades] [varchar](200) NULL,
	[PrecioUnitario] [varchar](200) NULL
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Cliente] ON 

INSERT [dbo].[Cliente] ([idCliente], [CodigoCliente], [NombreCliente], [TipoCliente], [DireccionCliente], [NumeroCliente]) VALUES (1, N'C0001', N'Jose Arturo Bayardi Lozano', N'Minorista', N'calzada atanasio tzul 22-00 zona 12, el cortijo ii, oficina 100', N'69555645')
INSERT [dbo].[Cliente] ([idCliente], [CodigoCliente], [NombreCliente], [TipoCliente], [DireccionCliente], [NumeroCliente]) VALUES (2, N'C0002', N'Nora Alicia Annunziatto Martino', N'Mayorista', N'avenida centroamerica 13-42 zona 1,', N'72863896')
INSERT [dbo].[Cliente] ([idCliente], [CodigoCliente], [NombreCliente], [TipoCliente], [DireccionCliente], [NumeroCliente]) VALUES (3, N'C0003', N'Roberto Baz Cogo', N'Minorista', N'13 calle 3-40 zona 10, edificio atlantis, nivel 12, oficina 1202,', N'52760274')
GO
SET IDENTITY_INSERT [dbo].[Cliente] OFF
GO
SET IDENTITY_INSERT [dbo].[Compra] ON 

INSERT [dbo].[Compra] ([idCompra], [Unidades], [CostoU], [idProveedor], [idProducto], [idTiempo], [idSucursal]) VALUES (1, 80, 47004, 1, 55, 1, 33)
INSERT [dbo].[Compra] ([idCompra], [Unidades], [CostoU], [idProveedor], [idProducto], [idTiempo], [idSucursal]) VALUES (2, 418, 54685, 2, 11, 2, 3)
INSERT [dbo].[Compra] ([idCompra], [Unidades], [CostoU], [idProveedor], [idProducto], [idTiempo], [idSucursal]) VALUES (3, 606, 13654, 3, 4, 3, 92)
GO
SET IDENTITY_INSERT [dbo].[Compra] OFF
GO
INSERT [dbo].[ComprasTemp] ([Fecha], [CodProveedor], [NombreProveedor], [DireccionProveedor], [NumeroProveedor], [WebProveedor], [CodProducto], [NombreProducto], [MarcaProducto], [Categoria], [CodSucursal], [NombreSucursal], [DireccionSucursal], [Region], [Departamento], [Unidades], [CostoU]) VALUES (N'11/01/2022', N'P0001', N'CESAR ADRIAN GERONIS ROMERO', N'10 avenida 4-54 zona 12,', N'42022451', N'S', N'OP00087', N'Gaseosa Pepsi + Seven Up  ', N'COCA COLA', N'Bebidas', N'S0033', N'Sucursal33', N'avendia petapa 40-18 zona 12,', N'Suroriente1', N'Jutiapa', N'80', N'470.04')
GO
SET IDENTITY_INSERT [dbo].[Producto] ON 

INSERT [dbo].[Producto] ([idProducto], [CodProducto], [NombreProducto], [MarcaProducto], [Categoria]) VALUES (1, N'AC00005', N'Cerveza Hofbrau Munchen Dunkel botella ', N'ZENU', N'Vinos y Licores')
INSERT [dbo].[Producto] ([idProducto], [CodProducto], [NombreProducto], [MarcaProducto], [Categoria]) VALUES (2, N'AC00008', N'Cerveza paulaner weissbier botella ', N'ZENU', N'Vinos y Licores')
INSERT [dbo].[Producto] ([idProducto], [CodProducto], [NombreProducto], [MarcaProducto], [Categoria]) VALUES (3, N'AC00014', N'Cerveza Miller Genuine Draft Bot. ', N'ZENU', N'Vinos y Licores')
GO
SET IDENTITY_INSERT [dbo].[Producto] OFF
GO
SET IDENTITY_INSERT [dbo].[Proveedor] ON 

INSERT [dbo].[Proveedor] ([idProveedor], [CodProveedor], [NombreProveedor], [DireccionProveedor], [NumeroProveedor], [WebProveedor]) VALUES (1, N'P0001', N'CESAR ADRIAN GERONIS ROMERO', N'10 avenida 4-54 zona 12,', N'42022451', N'S')
INSERT [dbo].[Proveedor] ([idProveedor], [CodProveedor], [NombreProveedor], [DireccionProveedor], [NumeroProveedor], [WebProveedor]) VALUES (2, N'P0002', N'AGILENT TECHNOLOGIES MEXICO, S. DE R.L. DE C.V.', N'17 calle y 19 avenida, bodega 3, zona 10,', N'41927426', N'N')
INSERT [dbo].[Proveedor] ([idProveedor], [CodProveedor], [NombreProveedor], [DireccionProveedor], [NumeroProveedor], [WebProveedor]) VALUES (3, N'P0003', N'ABELLA Y VALENCIA SA DE CV', N'"6 avenida 8-08 apartamento ""a"" zona 10,"', N'30913908', N'S')
GO
SET IDENTITY_INSERT [dbo].[Proveedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Sucursal] ON 

INSERT [dbo].[Sucursal] ([idSucursal], [CodSucursal], [NombreSucursal], [DireccionSucursal], [Departamento], [Region]) VALUES (1, N'S0001', N'Sucursal1', N'kilometro 20 carretera al pacifico, parque industrial unisur, local no. 1, delta barcenas,', N'Quetzaltenango', N'Suroccidente1')
INSERT [dbo].[Sucursal] ([idSucursal], [CodSucursal], [NombreSucursal], [DireccionSucursal], [Departamento], [Region]) VALUES (2, N'S0002', N'Sucursal2', N'5 avenida 5-55 zona 14 edificio euro plaza torre 2 nivel 16 oficina 1602,', N'Retalhuleu', N'Suroccidente2')
INSERT [dbo].[Sucursal] ([idSucursal], [CodSucursal], [NombreSucursal], [DireccionSucursal], [Departamento], [Region]) VALUES (3, N'S0003', N'Sucursal3', N'"8 avenida 3-90 zona 14 oficina 4""b"", edificio la rambla,"', N'San Marcos', N'Suroccidente3')
GO
SET IDENTITY_INSERT [dbo].[Sucursal] OFF
GO
SET IDENTITY_INSERT [dbo].[Tiempo] ON 

INSERT [dbo].[Tiempo] ([idTiempo], [Fecha]) VALUES (1, CAST(N'2022-01-11' AS Date))
INSERT [dbo].[Tiempo] ([idTiempo], [Fecha]) VALUES (2, CAST(N'2022-01-12' AS Date))
INSERT [dbo].[Tiempo] ([idTiempo], [Fecha]) VALUES (3, CAST(N'2022-01-13' AS Date))
GO
SET IDENTITY_INSERT [dbo].[Tiempo] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendedor] ON 

INSERT [dbo].[Vendedor] ([idVendedor], [CodVendedor], [NombreVendedor], [Vacacionista]) VALUES (1, N'V0001', N'Nelson Mario Caffera Morandi', N'1')
INSERT [dbo].[Vendedor] ([idVendedor], [CodVendedor], [NombreVendedor], [Vacacionista]) VALUES (2, N'V0002', N'Sergio Bonilla Marabotto', N'0')
INSERT [dbo].[Vendedor] ([idVendedor], [CodVendedor], [NombreVendedor], [Vacacionista]) VALUES (3, N'V0003', N'Gabriel Aramburu', N'0')
SET IDENTITY_INSERT [dbo].[Vendedor] OFF
GO
SET IDENTITY_INSERT [dbo].[Venta] ON 

INSERT [dbo].[Venta] ([idVenta], [Unidades], [PrecioUnitario], [idProducto], [idCliente], [idVendedor], [idTiempo], [idSucursal]) VALUES (1, 14, 4099, 1, 107, 38, 123, 97)
INSERT [dbo].[Venta] ([idVenta], [Unidades], [PrecioUnitario], [idProducto], [idCliente], [idVendedor], [idTiempo], [idSucursal]) VALUES (2, 491, 8959, 1, 161, 30, 177, 14)
INSERT [dbo].[Venta] ([idVenta], [Unidades], [PrecioUnitario], [idProducto], [idCliente], [idVendedor], [idTiempo], [idSucursal]) VALUES (3, 156, 7193, 2, 119, 57, 135, 107)
GO
SET IDENTITY_INSERT [dbo].[Venta] OFF
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [fk_idProductoCompra] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [fk_idProductoCompra]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [fk_idProveedorCompra] FOREIGN KEY([idProveedor])
REFERENCES [dbo].[Proveedor] ([idProveedor])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [fk_idProveedorCompra]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [fk_idSucursalCompra] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[Sucursal] ([idSucursal])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [fk_idSucursalCompra]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD  CONSTRAINT [fk_idTiempoCompra] FOREIGN KEY([idTiempo])
REFERENCES [dbo].[Tiempo] ([idTiempo])
GO
ALTER TABLE [dbo].[Compra] CHECK CONSTRAINT [fk_idTiempoCompra]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [fk_idClienteVenta] FOREIGN KEY([idCliente])
REFERENCES [dbo].[Cliente] ([idCliente])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [fk_idClienteVenta]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [fk_idProductoVenta] FOREIGN KEY([idProducto])
REFERENCES [dbo].[Producto] ([idProducto])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [fk_idProductoVenta]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [fk_idSucursalVenta] FOREIGN KEY([idSucursal])
REFERENCES [dbo].[Sucursal] ([idSucursal])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [fk_idSucursalVenta]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [fk_idTiempoVenta] FOREIGN KEY([idTiempo])
REFERENCES [dbo].[Tiempo] ([idTiempo])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [fk_idTiempoVenta]
GO
ALTER TABLE [dbo].[Venta]  WITH CHECK ADD  CONSTRAINT [fk_idVendedorVenta] FOREIGN KEY([idVendedor])
REFERENCES [dbo].[Vendedor] ([idVendedor])
GO
ALTER TABLE [dbo].[Venta] CHECK CONSTRAINT [fk_idVendedorVenta]
GO
